second-edition/Chapter 10/swift4-1/IOTFit/IOTFit.xcodeproj/project.xcworkspace/xcuserdata/abakir.xcuserdatad/UserInterfaceState (Ahmed Bakir's conflicted copy 2018-09-04).xcuserstate
second-edition/Chapter 11/swift4-1/IOTFit/IOTFit.xcodeproj/project.xcworkspace/xcuserdata/abakir.xcuserdatad/UserInterfaceState (Ahmed Bakir's conflicted copy 2018-09-04).xcuserstate
second-edition/Chapter 11/swift4-2/IOTFit/IOTFit.xcodeproj/project.xcworkspace/xcuserdata/abakir.xcuserdatad/UserInterfaceState (Ahmed Bakir's conflicted copy 2018-09-04).xcuserstate
second-edition/Chapter 10/swift4-1/IOTFit/IOTFit.xcodeproj/project.xcworkspace/xcuserdata/abakir.xcuserdatad/UserInterfaceState (Ahmed Bakir's conflicted copy 2018-09-04).xcuserstate
second-edition/Chapter 11/swift4-1/IOTFit/IOTFit.xcodeproj/project.xcworkspace/xcuserdata/abakir.xcuserdatad/UserInterfaceState (Ahmed Bakir's conflicted copy 2018-09-04).xcuserstate
second-edition/Chapter 11/swift4-2/IOTFit/IOTFit.xcodeproj/project.xcworkspace/xcuserdata/abakir.xcuserdatad/UserInterfaceState (Ahmed Bakir's conflicted copy 2018-09-04).xcuserstate
